.details-catd-container {
    margin-left: 40px;
    margin-top: 38px;
    width: 970px;
    height: 227px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
}

.input-details {
    width: 839px;
    height: 40px;
}

.details-title {
    margin-bottom: 8px;
    margin-top: 5px;
    margin-left: 14px;
    color: #1890ff;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.button-icon {
    position: absolute;
    left: 108px;
    bottom: 40px;
}
