.search-result-container {
    background: #f5f5f5;
    border-radius: 16px;
    padding: 24px 30px 25px 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.search-result-content-col-1 {
    display: block;
}

.search-result-content-img {
    width: 285px;
    height: 281px;
    display: flex;
    margin: 0px 0px 20px 0px;
}

.search-result-content-col-2 {
    margin-top: 0px;
    margin-left: 33px;
}

.search-result-content-info-1 {
    display: flex;
}

.content-info-1-field-repo {
    width: 175px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    color: #595959;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
}

.content-info-1-field-followers {
    width: 125px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    color: #595959;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
}

.content-info-1-field-following {
    width: 115px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    color: #595959;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
}

.search-result-content-info-2 {
    margin-top: 12px;
    padding: 10px 15px 10px 15px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
}

.content-info-2-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1890ff;
    margin-bottom: 18px;
}
.content-info-2-field {
    margin-bottom: 5px;
    padding: 8px 10px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
}

.content-info-2-field-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
}

.content-info-2-field-text {
    margin-left: 8px;
    font-weight: 400;
    color: #737373;
}
